.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-area {
  background: #cbb5b5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
}

.product-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.product-wrap img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}
.product-wrap .item {
  border: 1px solid gray;
  padding: 20px;
  max-width: 300px;
  margin: 10px;
}
.product-wrap h4 {
  margin: 0;
  padding: 0;
  text-align: justify;
}
.product-wrap p {
  text-align: justify;
}
.top-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-icon {
  font-size: 30px;
  color: rgb(18 110 59);
}

.cart-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.cart-area span {
  position: absolute;
  top: -6px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.cart-details {
  margin-top: 50px;
  padding: 0px 50px;
  display: flex;
  align-items: baseline;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.discount-area {
  width: 25%;
  text-align: left;
  padding: 0px 30px;
}
.discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  border-bottom: 1px solid #c9c4c4;
}
